<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PerfLogPath" value="C:\SyEx_Logs"/>
    <add key="SavePath" value="C:\PerfLogParser\Detailed"/>
    <add key="SummarySavePath" value="C:\PerfLogParser\Summary_{0}"/>
    <add key="SummarySaveFileName" value="Performance Summary_{0}.xlsx"/>
    <add key="SaveFileName" value="PerfLog_{0}-Run{1}.xlsx"/>
    <add key="SearchPattern" value="*SyExPerfLog_{0}*.log"/>
    <!-- Values -->
    <!-- Today - Gets the perflogs for today-->
    <!-- All - Gets all the perf logs-->
    <add key="RetrieveMode" value="All"/>
    <!-- All - Gets all the perf logs-->
    <add key="RetrieveMode" value="All"/>
    <add key="UserName" value="adm_panganiban"/>
    <add key="Password" value="Carlson0!$"/>
    <add key="Domain" value="int.carlsonwagonlit.com"/>
    <!-- Enter directories separated by ;-->
    <add key="SourceDirectories" value="\\VWEDC1IR09020\d$\SyEx_Logs;\\VWEDC1IR09021\d$\SyEx_Logs;\\VWEDC2IR09020\d$\SyEx_Logs"/>
    <!--<add key="SourceDirectories" value="\\LWPHL1U001RBB\SyEx_Logs"/>-->
    <!-- If SkipConnectToNetwork is set to true, application will get perf log files from SourceSyExInLocal-->
    <add key="SkipConnectToNetwork" value="false"/>
    <add key="SourceSyExInLocal" value="C:\Temp\SyEx_Logs"/>
    <!-- Chart Templates-->
    <add key="ResponseTimeAndVarianceChart" value="ChartTemplates\ResponseTimeAndVariance.xml"/>
    <add key="MinMaxAvgChart" value="ChartTemplates\MinMaxAvg.xml"/>
    <add key="HtmlGraph" value="ChartTemplates\PerfGraph.html"/>
    <add key="ResponseAndVarianceFileName" value="ResponseAndVariance.csv"/>
    <add key="MinMaxAvgFileName" value="MinMaxAvg.csv" />
    <add key="UserDurationPerRun" value="UserDurationPerRun.csv"/>
    <add key="DurationPairFrom" value="ExecuteTable: spExpress_GetServicingOptions_v3" />
    <add key="DurationPairTo" value="BusinessFunctionMetric.FinishPNR_TimeOut" />
    <add key="DeleteLocalSyExLogsSetup" value="true"/>
    <add key="DeleteLocalSyExLogsTearDown" value="false"/>
  </appSettings>
</configuration>